.header {
  height: 0px;
  background: #6D7DD2;
  /* background-image: url('/img/2penguins.svg'); */
  background-repeat: no-repeat;
  background-size: 0px;
  background-position: bottom -82px right;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header h1 {
  font-family: 'Ubuntu Mono', monospace;
  font-style: italic;
  text-align: center;
  font-size: 3.2em;
  word-spacing: -0.4em;
  color: #fff;
  margin-bottom: 0;
}
.header h1 a {
  color: #fff;
}
.header h2 {
  font-family: 'Ubuntu Mono', monospace;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  margin-top: -0.5em;
  color: #fff;
  color: #ffa264;
}
.header em {
  font-style: normal;
  font-size: 0.9em;
  line-height: 1;
  text-align: center;
  float: right;
  padding: 0.5em 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgba(255,255,255,.7);
  background-color: rgba(255,255,255,.1);
}
.header em a {
  color: rgba(255,255,255,.9);
}
.header nav {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header nav ul {
  list-style: none;
}
.nav-links {
  padding: 0.5em 1em;
  margin: 0;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  font-size: 0.8em;
  line-height: 1.7;
}
.nav-links li {
  display: inline-block;
  margin: 0 0.5em;
}
.nav-links a {
  text-transform: uppercase;
  color: #9da9ea;
}
.nav-links a:hover {
  color: #fff;
}

.social-icons {
  position: absolute;
  top: 0.05rem;
  right: 0.3rem;
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: 2.5rem; /* little hack for firefox vertical align */
}
.social-icons li {
  display: inline-block;
  font-size: 0;
}
.social-icons a::before {
  font-size: 1.65rem;
  color: #717fc5;
}
.social-icons a:focus::before,
.social-icons a:hover::before {
  color: #fff;
}

/* responsive */

@media (max-width: 748px) {
  .header .social-icons {
    position: static;
  }
  .social-icons a::before {
    font-size: 1.5rem;
    color: #9da9ea;
  }
}

@media (max-width: 520px) {
  .header h1 {
    font-size: 2.5em;
    font-size: 8vw;
    margin-top: 1.4em;
  }
  .header h2 {
    font-size: 1em;
    font-size: 3vw;
  }
}

@media (max-width: 330px) {
  .header h1 {
    margin-top: 1.8em;
  }
}
